#cancelamento-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px; 
    width: 100%;
    max-width: 950px; 
    margin: 40px auto; 
}

.opcao-bloco {
    background-color: #4a4a4a; 
    border: 2px solid transparent; 
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    max-width: 3500px; 
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.opcao-bloco h3 {
    margin-bottom: 10px;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.1em;
    color: #fff;
}

.opcao-bloco p {
    font-size: 0.9em;
    color: #d0d0d0;
    line-height: 1.5;
    margin: 0; 
}

.opcao-bloco:hover {
    border: 2px dashed #3A70D7;
    transform: translateY(-5px);
}

.opcao-bloco.selecionado {
    border: 2px solid #3A70D7;
}

#termos-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: auto;
    max-width: 600px;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 16px;
}

.custom-checkbox img {
    width: 24px;
    height: 24px;
}

#confirmar-perdas-btn:disabled {
    background-color: #555; 
    opacity: 0.6;
    cursor: not-allowed;
}

.avisos ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    max-width: 800px;
    width: 100%;
}

.avisos li {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    gap: 15px;
}

.aviso-icon{
    flex-shrink: 0;
}

.avisos li:last-child {
    margin-bottom: 0;
}

.confirmação {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.confirmação h2 {
    font-weight: bold;
    margin-bottom: 40px;
    max-width: 750px;
}

.confirmação p {
    max-width: 1400px;
}

.confirmação p:first-of-type {
    margin-bottom: 250px;
}