<header id="superior">
    <div id="superior-left">
        <button>
            <img class="treslinhas" src="/assets/icons/barra superior/icon - tres linhas.svg" alt="Abrir menu lateral">
        </button>
        <a href="../../index.html">
            <img class="logo" src="/assets/logo - engplay.png" alt="Logo EngPlay - Ir para Início">
        </a>
    </div>

    <form action="/buscar" method="GET">
        <input type="text" name="pesquisa" placeholder="Digite sua pesquisa...">
        <button type="submit">
            <img src="/assets/icons/barra superior/icon - pesquisa.svg" alt="Pesquisar">
        </button>
    </form>
    
    <div id="icones-direita">
        <a href="#">
            <img src="/assets/icons/barra superior/icon - notificacoes.svg" alt="Notificações" id="botao-tema">
        </a>
        <a href="#">
            <img src="/assets/icons/barra superior/icon - conta.svg" alt="Minha Conta">
        </a>
    </div>
</header>