<nav id="lateral">
  <a href="">
    <img
      src="/assets/icons/barra lateral/icon - home.svg"
      alt="barra lateral - home"
      class="oculto"
    />
    <p>Home</p>
  </a>
  <a href="">
    <img
      src="/assets/icons/barra lateral/icon - turmas.svg"
      alt="barra lateral - turmas"
      class="oculto"
      />
    <p>Turmas</p>
  </a>
  <a href="">
    <img
      src="/assets/icons/barra lateral/icon - certificados.svg"
      alt="barra lateral - certificados"
      class="oculto"
    />
    <p>Certificações</p>
  </a>
  <a href="">
    <img
      src="/assets/icons/barra lateral/icon - banners.svg"
      alt="barra lateral - banners"
      class="oculto"
    />
    <p>Banners</p>
  </a>
  <a href="">
    <img
      src="/assets/icons/barra lateral/icon - assinaturas.svg"
      alt="barra lateral - assinaturas"
      class="oculto"
    />
    <p>Assinaturas</p>
  </a>
  <a href="">
    <img
      src="/assets/icons/barra lateral/icon - convites.svg"
      alt="barra lateral - convites"
      class="oculto"
    />
    <p>Convites</p>
  </a>
  <a href="">
    <img
      src="/assets/icons/barra lateral/icon - membros.svg"
      alt="barra lateral - membros"
      class="oculto"
    />
    <p>Membros</p>
  </a>
  <a href="">
    <img
      src="/assets/icons/barra lateral/icon - comentarios.svg"
      alt="barra lateral - comentarios"
      class="oculto"
    />
    <p>Comentarios</p>
  </a>
  <a href="">
    <img
      src="/assets/icons/barra lateral/icon - comunidade.svg"
      alt="barra lateral - comunidade"
      class="oculto"
    />
    <p>Comunidade</p>
  </a>
  <a href="/sub-paginas/ranking.html">
    <img
      src="/assets/icons/barra lateral/icon - ranking.svg"
      alt="barra lateral - ranking"
      class="oculto"
    />
    <p>Ranking</p>
  </a>
  <a href="/sub-paginas/atendimento.html">
    <img
      src="/assets/icons/barra lateral/icon - atendimento.svg"
      alt="barra lateral - atendimento"
      class="oculto"
    />
    <p>Atendimento</p>
  </a>
<hr />
  <a href="/index.html"> 
    <img
      src="/assets/icons/barra lateral/icon - cancelamento.svg"
      alt="barra lateral - cancelamento"
      class="oculto"
    />
    <p>Cancelamento</p>
  </a>
    <div id="icones-temas">
      <img id="icone-tema" src="/assets/icons/barra superior/temas/tema_escuro.svg" alt="Tema">
    </div>
</nav>
