/* ------------------------------ */
/*            DARK MODE alterado          */
/* ------------------------------ */

body.light-mode {
    background-color: #1E1E1E;
    color: #222222; 
}

body.light-mode #conteudo {
    background-color: #1E1E1E;
    color: #D1D1D6;
}

body.light-mode #conteudo h2, 
body.light-mode #conteudo h3, 
body.light-mode #conteudo p {
    color: #D1D1D6;
}

body.light-mode .opcao-bloco {
    background-color: #5A5A5A;
    border: 1px solid #5A5A5A;
}

body.light-mode .opcao-bloco.selecionado {
    border: 2px solid #1B365F;
}

/* Botões padrão */
body.light-mode #button button {
    background-color: #D1D1D6; 
    color: #FFFFFF;
    border: 1px solid #1E1E1E;
    font-weight: bold;
}

/* Botão verde */
body.light-mode #button a:first-child button {
    color: #000000;
    background: linear-gradient(to right, #D1D1D6, #D1D1D6 , #42c558 100%, #0be42f);
    background-size: 200% 100%;
    background-position: left center;
   transition: background-position 0.3s ease;
}

body.light-mode #button a:first-child button:hover {
    background-position: right center;
}

/* Botão vermelho */
body.light-mode #button a:last-child button {
    color: #000000;
    background: linear-gradient(to left, #D1D1D6, #D1D1D6 , #bd2020 100%, #cf1818);
    background-size: 200% 100%;
    background-position: right center;
    transition: background-position 0.4s ease; 
}

body.light-mode #button a:last-child button:hover {
    background-position: left center;
}

/* Área de comentários */
body.light-mode .comentario-caixa {
    background-color: z#6666679c;
    color: #ffffff;
}

body.light-mode .comentario-caixa::placeholder {
    color: #D1D1D6;
}

/* Contraste claro */
.contraste-claro {
    background-color: #FFFFFF; 
    color: #222222;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding: 15px;
}

.contraste-claro button,
.contraste-claro button img {
    color: #222222;
}

.impacto-texto{
  color: #D1D1D6;
}

#termos-check,
#perda-check
{color: #D1D1D6;

}